
Thumbs.db
tester.py
servertest.py
__pycache__/Db_helper.cpython-36.pyc
.idea/workspace.xml
.idea/Virtual-reality-plant-monitor.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/misc.xml
.idea/dictionaries/defja.xml
